{% extends 'admin/base.html' %}

{% block title %}
  Notification items
{% endblock %}

{% block content %}
<h2>Notification items related to id:{{notification.id}}</h2>
  <table style="width:100%">
    <thead>
          <th>id</th>
          <th>endpoint</th>
          <th>subject</th>
          <th>channel</th>
          <th>body</th>
          <th>is successful</th>
          <th>created time</th>
          <th>body preview</th>
    </thead>
    <tbody>
      {% for item in notification.items.all %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.endpoint }}</td>
          <td>{{ item.subject }}</td>
          <td>{{ item.get_notification_channel_display }}</td>
          <td>{{ item.body }}</td>
          <td>{{ item.is_successful }}</td>
          <td>{{ item.created_datetime }}</td>
          <td><a href="{%url "notification_item_body" notification_item_id=item.id%}" target="_blank">click to check</a></td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
